*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin:0;
}

#actuallyWhite{
    background-color: white;
}

h5{
    padding:80px;
    color:black;
}

a,a:visited{
    text-decoration: none;
    color:white;
}

a:hover{
    color: black;
}

a::before{
    content:"@";
}

.container{
    display:flex;
    flex-direction: row;
    align-content: space-between;
}

header{
    min-height: 50px;
    width:100vw;
    background-color: #32322c;
    color:white;
    text-align: center;
}

.h2Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: #32322c;
    color:white;
    text-align: center;
}

.twoThirds {
    flex: 2 67vw;
}
.oneThird {
    flex: 1 33vw;
}
.half{
    flex: 1 50vw;
}

.textBox{
    line-height: 1.5em;
    padding:15px;
    font-size: 1.1em;
}

.helperText{
    font-size:0.9em;
    color: hsl(200, 70%, 40%);
    background-color: white;
}

.iconBox{
    color:white;
    text-align: center;
    background-color: hsl(200, 70%, 45%);
    padding:10px;
}